.logo-contact{
    cursor: pointer;
    display: flex;
    width: 120px;
  }
  
  .logo-contact img{
    height: 100%;
    width: 100%;
  }
  
  .section-title, .contact-info{
    color: rgb(230, 230, 230);
  }
  
  .become-contact{
    display: flex;
    align-items: center;
    padding: 12px 29px;
    background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
    border-radius: 21px;
    transition: opacity .15s ease-out;
    overflow: hidden;
    color: white !important;
    font: 500 16px/1.2;
    letter-spacing: -.03em;
    cursor: pointer;
  }
  
  .become-contact:hover {
    background-position: left bottom;
    color: white;
  }
  
  .contact-email{
    display: block;
    margin-top: 11px;
    font: 500 18px/1.2 Inter;
    letter-spacing: -.02em;
    color: rgb(61, 61, 61) !important;
    font-weight: bold;
  }
  
  .social{
    padding-top: 50px;
    margin-top: 50px;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    display: flex;
    justify-content: center;
  }
  
  .social ul {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  .social li {
    margin: 0 20px;
    font-size: 22px;
    width: 48px;
    height: 48px;
    padding: 12px 0px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
    border-radius: 50%;
    transition: all 0.3s ease 0s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .social li svg{
    color: white !important;
  }
  
  .social a {
    text-decoration: none;
    color: #333;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .social li:hover{
    background-color: white;
    cursor: pointer;
  }
  
  .social li svg:hover{
    color: #5ca9fb !important;
  }
  
  .check-port{
    background: #5ca9fb
  }
  
  .get-contact{
    background: #6372ff
  }
  
  .cover-image img{
    animation: floatAnimation 2s infinite alternate ease-in-out;
  }

/* PARALLAX */

.parallax-container{
  display: flex ;
  justify-content: center;
  align-items: end;
  height: 20%;
}

.parallax-container .text-container {
  position: absolute;
  transform: translate(0%, -50%);
  text-align: center;
}

.parallax-container p{
  font-weight: bold;
  font-size: 25px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.button-parallax {
  display: inline-block;
  padding: 5px 15px;
  color: #fff; 
  border-radius: 8px;
  cursor: pointer;
  border: none;
  height: 40px;
}