.logo-contact {
    cursor: pointer;
    display: flex;
    width: 120px
}

.logo-contact img {
    height: 100%;
    width: 100%
}

.contact-info,
.section-title {
    color: #e6e6e6
}

.become-contact,
.social li svg {
    color: #fff !important
}

.become-contact {
    display: flex;
    align-items: center;
    padding: 12px 29px;
    background: linear-gradient(to right, #6372ff 0, #5ca9fb 100%);
    border-radius: 21px;
    transition: opacity .15s ease-out;
    overflow: hidden;
    letter-spacing: -.03em;
    cursor: pointer
}

.become-contact:hover {
    background-position: left bottom;
    color: #fff
}

.contact-email {
    display: block;
    margin-top: 11px;
    font: 700 18px/1.2 Inter;
    letter-spacing: -.02em;
    color: #3d3d3d !important
}

.social {
    padding-top: 50px;
    margin-top: 50px;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, .15);
    display: flex;
    justify-content: center
}

.social ul {
    list-style: none;
    padding: 0;
    display: flex
}

.social li {
    margin: 0 20px;
    font-size: 22px;
    width: 48px;
    height: 48px;
    padding: 12px 0;
    border: 2px solid #fff;
    border-image: initial;
    border-radius: 50%;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center
}

.social a {
    text-decoration: none;
    color: #333;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center
}

.social li:hover {
    background-color: #fff;
    cursor: pointer;
}

.social li:hover svg {
    fill: #5ca9fb;
}

.check-port {
    background: #5ca9fb
}

.get-contact {
    background: #6372ff
}

.cover-image img {
    animation: 2s ease-in-out infinite alternate floatAnimation;
    height: 500px
}

.parallax-container {
    display: flex;
    justify-content: center;
    min-height: 500px;
}

.parallax-container .text-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.parallax-container p {
    font-weight: bold;
    font-size: 25px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .9)
}

.button-parallax {
    display: inline-block;
    padding: 5px 15px;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    height: 40px
}