.intro {
    display: table;
    width: 100%;
    padding: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 100vh;
    z-index: 1000;
    column-gap: 5em
}

.text-header {
    width: 50%
}

.subtitle-header span {
    line-height: 2;
    font-size: 18px;
}

.header-title {
    line-height: 1.5;
    color: #303133
}

.header-text {
    margin-top: 20px !important
}

.img-header {
    height: 40%
}

.img-header img {
    border: 7px solid #fff;
    box-shadow: 0 15px 35px 5px #0003;
    height: 100%
}

@keyframes floatAnimation {
    0% {
        transform: translateY(0)
    }

    100% {
        transform: translateY(-10px)
    }
}

.button-more {
    display: inline-block;
    padding: 10px 20px;
    background-image: linear-gradient(to right, #5ca9fb 0, #6372ff 100%);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    width: 50%
}

.button-more:hover {
    opacity: .9
}

@media only screen and (max-width:768px) {
    .subtitle-header h4 {
        width: 100%
    }

    .header-title {
        font-size: 30px
    }

    .button-more {
        width: 60%
    }

    .text-header {
        width: 100%;
        text-align: center
    }
}