body {
    /*background: linear-gradient(to bottom right, #dbf5fc, #eaf9fc, #f4fbfd);*/
    background: #ddf2f7 !important;
    overflow-x: hidden
}

a {
    text-decoration: none !important;
    color: inherit !important
}

button,
p,
span,
li {
    font-family: "Montserrat", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal;

}

h1 {
    font-family: "EB Garamond", serif;
    font-style: normal;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: "EB Garamond", serif;
    font-style: normal;
}


#contact {
    background: linear-gradient(to right, #6372ff 0, #5ca9fb 100%)
}

.pointer {
    cursor: pointer
}

.visible {
    opacity: 1 !important;
    transform: translateY(0) !important
}

.calendly-inline-widget {
    min-height: 1100px;
    overflow: hidden;
}

@media only screen and (min-width:768px) {
    .calendly-inline-widget {
        min-height: 1140px;
    }
}

@media only screen and (min-width:1200px) {
    .calendly-inline-widget {
        min-height: 660px;
    }
}